<div class="row">
  <div class="col-xs-12">
    <p> # Name - {{ employee.name }}</p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <p> # Age - {{ employee.age }}</p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <p> # Mobile No. - {{ employee.mobile }}</p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <p> # College - {{ employee.college }}</p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <p> # Salary - {{ employee.salary }}</p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <p> # Manager - {{ employee.manager }}</p>
  </div>
</div>
<br>
<div class="text-center">
  <button
  class="btn btn-primary"
  (click)="onGoBack()">Back</button>
</div>


