<h3 style="text-align: center;">Bank Application</h3>
<p style="text-align: center;">(Manage your bank accounts here!)</p>
<hr>
<div class="split left">
  <div class="col-md-4">
      <app-new-account></app-new-account>
  </div>
</div> 
<div class="split right"> 
  <div class="col-md-8">
    <h4 style="text-align: center;">Present Bank Accounts Are As Follows:</h4>
    <br>
    <app-account
      *ngFor="let acc of accounts; let i = index"
      [account]="acc"
      [id]="i"></app-account>  
  </div>
</div>
  

