<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3 style="text-align: center;"><span class="glyphicon glyphicon-tree-conifer"></span> Welcome to Angular Magic - Best Front-End Technology <span class="glyphicon glyphicon-tree-conifer"></span></h3>
            <p style="text-align: center;">Demonstration of Features like String Interpolation, Event Binding, Two Way Binding & Property Binding.</p>
            <hr>
            <app-servers></app-servers>
            <hr>
            <app-server></app-server>
        </div>
    </div>
</div>



